html {
    font-size: 10px;
    font-family: 'Mitr', sans-serif;
    background-color: #d5fffc;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffe284;
    padding: 0 20px 20px 30px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #b62400;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    line-height: 1.1em;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

figcaption {
    margin: 12px auto;
    text-align: center;
    font-size: 12px;
}